echo "On $HOSTNAME"
case $HOSTNAME in
  (minazo)
     echo "Jumping into nix-shell"
     use nix .default.nix --indirect --add-root $HOME/.nix-gc-roots/HANDE-shell.drv
     ;;
  (*)
     echo "Unknown system, doing nothing"
     ;;
esac
