echo "On $HOSTNAME"
case $HOSTNAME in
  (minazo)
     echo "Jumping into nix-shell"
     use nix .default.nix --indirect --add-root $HOME/.nix-gc-roots/HANDE-shell.drv
     #export SOURCE_DATE_EPOCH=$(date +%s)
     #dir_hash=HANDE-$(echo -n HANDE | shasum | cut -d ' ' -f 1)
     #direnv_layout_dir=$XDG_CACHE_HOME/direnv/layouts/$dir_hash
     #layout python `type -P python` --system-site-packages
     export NINJA_STATUS="[Built edge %f of %t in %e sec]"
     ;;
  (*)
     echo "Unknown system, doing nothing"
     ;;
esac
