dest/
bin/
run/
make.inc*
test*.out*
testcode*.err*
DETS
HAMIL
HAMIL.*
hamil.*
*.out
*.err
*.log
fort.*
.*.swp
tags
restart.*
HANDE.RS.*
SEMI.STOCH.*
fort.*
/config/.default
joe_calc/
sub/
/*todo*
.nfs*
*.aux
*.dat
*.pdf
documentation/build
test.out*
test.err*
submit.*
*pyc
__pycache__
_build/
build/
.vimrc
*.combine
*.egg-info/
*.H5
