dest/
bin/
run/
test*.out*
testcode*.err*
DETS
HAMIL
HAMIL.*
hamil.*
*.out
*.err
*.log
fort.*
.*.swp
tags
restart.*
fort.*
/config/.default
joe_calc/
sub/
/*todo*
.nfs*
*.aux
*.dat
*.pdf
documentation/build
documentation/developers_guide/xml
