sudo: false
dist: trusty

language: python

addons:
  apt:
    packages:
      - cmake3
      - cmake3-data
      - gfortran
      - libblas-dev
      - liblapack-dev
      - libopenmpi-dev
      - openmpi-bin
      - uuid-dev

env:
  global:
    - DEPS=$HOME/Deps
    - LUA_ROOT=$DEPS/lua
    - HDF5_ROOT=$DEPS/hdf5
    - ScaLAPACK_ROOT=$DEPS/scalapack
    # Paths for BLAS, LAPACK, and UUID from packages
    - LD_LIBRARY_PATH=/usr/lib/x86_64-linux-gnu:/usr/lib/libblas:/usr/lib/lapack${LD_LIBRARY_PATH:+:$LD_LIBRARY_PATH}
    - LD_LIBRARY_PATH=$LUA_ROOT/lib:$HDF5_ROOT/lib:$ScaLAPACK_ROOT/lib:$DEPS/trlan/lib${LD_LIBRARY_PATH:+:$LD_LIBRARY_PATH}

matrix:
  include:
    - os: linux
      python: '2.7'
      env: USE_CMAKE=false
    - os: linux
      python: '3.5'
      env: USE_CMAKE=false
    - os: linux
      python: '2.7'
      env:
        - LUA_DIR=$LUA_ROOT
        - USE_CMAKE=true
    - os: linux
      python: '3.5'
      env:
        - LUA_DIR=$LUA_ROOT
        - USE_CMAKE=true

before_install:
  # Dependencies are downloaded in $HOME/Downloads and installed in $HOME/Deps
  - mkdir -p $HOME/Downloads $DEPS

cache:
  pip: true
  directories:
    - $HOME/Deps/lua
    - $HOME/Deps/hdf5
    - $HOME/Deps/scalapack
    - $HOME/Deps/trlan

install:
  - ./.ci/install_deps.sh
  - pip install -r requirements.txt

before_script:
  - >
    if [[ "$USE_CMAKE" = true ]]; then
      ./mkconfig.py --type=release --mpi --scalapack="-L$ScaLAPACK_ROOT/lib -lscalapack" --lanczos="-L$DEPS/trlan/lib -ltrlan" --exe-name="hande.travis.linux.cmake.x"
      # This is equivalent to
      # cmake -H. -Bbuild \
      #           -DENABLE_HDF5=ON \
      #           -DENABLE_UUID=ON \
      #           -DCMAKE_BUILD_TYPE=Release \
      #           -DENABLE_MPI=ON \
      #           -DSCALAPACK_LIBRARIES="-L$ScaLAPACK_ROOT/lib -lscalapack" \
      #           -DTRLan_LIBRARIES="-L$DEPS/trlan/lib -ltrlan" \
      #           -DHANDE_EXE_NAME="hande.travis.linux.cmake.x"
    else
      tools/mkconfig.py travis.linux
    fi

script:
  - >
    if [[ "$USE_CMAKE" = true ]]; then
      cmake --build build -- VERBOSE=1
    else
      make
    fi
  # Only run a short subset of the tests
  - cd test_suite
  - $DEPS/testcode/bin/testcode.py -c vquick -v

notifications:
  email:
    - hande-dev@imperial.ac.uk
